# ignore synctex files
*.synctex.gz

# ignore backup files
*.bak

# ignore temp TeX files
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.aux

# ignore shapefiles / geographic data
*.tif
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.xml

# ignore docs
*.docx

# ignore pycharm and vscode
.idea/
__pycache__/
.vscode/
prmlfigs-png/

# ignore Jupyter output
*.png
.ipynb_checkpoints
